/* body{
    margin: 0%;
    width: 100%;
    box-sizing: border-box;
}  */
ul{
    list-style: none;
    display: inline-flex;
    
}
li{
    padding-right: 40px;  
    font-size: 25px;  
    color: white;
    font-weight:800;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height:125px;
    background-color:rgba(0,0,0,0.4);
    align-items: center;
}
.firstdiv{
    background: /*linear-gradient(135deg, rgb(0, 0, 0, .1), rgb(0, 0, 255, .4)),*/ url("images/background1.webp" );
    background-size: 100% 800px;
    height:80vh;
    
}

.content{
    text-align: center;
    color: white;
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.content>p{
    background: rgb(0, 0, 0, .2);

}
button{
    padding: 10px 20px 10px 20px; 
    border-radius: 25px ; 
    color: white; 
    background-color: hsla(34, 100%, 52%, 0.904);
    border: none;
    font-size: 20px;
    margin-top: 25px;
    
}
.overlay{
    background: rgb(0, 0, 0, .5);
    height:80vh;
} 
.seconddiv{
    display: flex;
    justify-content: space-evenly;
}
.fimage{
    display: flex;
    margin:100px 100px 100px 0px;
    column-gap:20px;
    

}
.secondright{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.secondleft{
    margin-right: 20px;
    
}
.aboutus{
    margin:120px 100px 100px 0px;
}
.aboutus>p{
    font-size:20px;
}
.aboutus>h2{
    font-size: 50px;
}
.abt{
    text-decoration:4px underline hsla(34, 100%, 52%, 0.904);
    border: none;
    font-size: 50px;
    text-underline-offset: 20px;
}
.topleft>span{
    color: hsla(34, 100%, 52%, 0.904);
    
}
.thirddiv{
    background-color: rgb(232, 233, 235);
}
.thirdimages{
    display: flex;
    flex-wrap: wrap;
    margin:20px 50px 20px 180px;
    
}
.topleft{
    background-color: white;
    width:20%;
    margin:20px
}
.topleft>p{
    font-size: 15px;
    margin-left:20px;
}
.topleft>button{
    padding:5px 10px ; 
    font-size: 12px; 
    margin:0px 0px 15px 20px;
}
.h2menu{
    margin-left: 20px;
}
.topservices{
    width:25%;
    text-align: center;
    box-shadow: 5px 8px 10px rgb(232, 233, 235) ;
    margin: 40px 10px 20px 20px;
    padding:0px 10px 10px 10px;

}
.topservices:hover{
    background-color: rgb(232, 233, 235);
}
.servicesimg{
    display: flex;
    flex-wrap: wrap;
     padding-left: 12%;
    align-content: center;
}
.choose{
    text-align: center;
}


